:root {
    font-size: 16px;
    font-family: Arial;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

header {
    background: #111111;
    padding: 10px 0; /* Adjust the top and bottom padding as needed */
}

.navbar {
    /* Remove fixed position and width */
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-item {
    /* Adjust styling for top navigation items */
    margin-right: 20px; /* Add spacing between navigation items */
    padding: 10px;
    position: relative;
}

.nav-link {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

.link-text {
    margin-left: 8px; /* Adjust spacing between icon and text */
    font-size: 18px; /* Adjust the font size as needed */
    position: relative; 
}

/* Adjust styles for your FontAwesome icons */
.fas {
    font-size: 24px; /* Adjust the icon size as needed */
    margin-right: 4px; /* Add spacing between the icon and text */
}

main {
    margin-top: 20px; /* Adjust the top margin to make space for the navigation bar */
    padding: 0 20px; /* Add padding to the main content */
}

.nav-item::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0%;
    height: 2px; /* Adjust the height of the line as needed */
    background: rgb(0, 0, 0); /* Color of the line */
    transition: width 0.3s ease; /* Add a smooth transition effect */
}

.nav-item:hover::after {
    width: 100%; /* Make the line fully visible on hover */
}

.post-link{
    display : block;
    font-size: 24px;    
}

 /* Style for the expandable section */
 .proof-section {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}
/* Style for the proof label */
.proof-label {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.proof-section {
    background-color: #add8e6; /* Baby blue color */
    padding: 10px;
}
